div.email > span:nth-child(2) {
	display: none;
}

.jumbotron {
	padding: 100px 60px;
	background: linear-gradient(rgba(0,0,0,.6), rgba(0,0,0,.6)), url('../images/CentruPRECIS.jpg') no-repeat center / cover ;
	color: #fff;
}

.TBA {
	font-style: italic;
}

.nav-small {
	font-size: small;
}

li {
    margin-left:12px;
}

#prog tr th {
	text-align:center;
}

#prog tr td {
	text-align:center;
}
#prog tr td a {
	color:white;
}

#prog tr td:nth-child(1) {
	text-align:right;
	padding-right:5px;
}

.aqua {
	border:1px solid black;
	background-color:aqua
}
.white {
	border:1px solid black;
	background-color:white
}
.green {
	border:1px solid black;
	background-color:green;
	color:white
}
.red {
	border:1px solid black;
	background-color:red;
	color:white
}
.blueviolet {
	border:1px solid black;
	background-color:blueviolet;
	color:white
}
.yellowgreen {
	border:1px solid black;
	background-color:yellowgreen;
	color:white
}
.yellow {
	border:1px solid black;
	background-color:yellow;
}
.orange {
	border:1px solid black;
	background-color:orange;
}
.blue {
	border:1px solid black;
	background-color:blue;
	color:white
}

#slider .carousel-item img {
    max-height: 900px;
    width: 100%;
    object-fit: cover;
}
